<div class="layak-huni">
  <div class="main">
    <fountain-header></fountain-header>
    <div layout="row" style="margin-top: 5px;">
      <div flex-gt-sm="5" flex></div>
      <div flex-gt-sm="90" flex="100">

        <h3>Form isian layak huni</h3>

        <!-- <pre><code>{{vm.isiLayakHuni}}</code></pre> -->

        <form name="formLayakHuni" novalidate ng-submit="formLayakHuni.$valid && vm.clickFormLayakHuni(vm.isiLayakHuni)">

          <div class="form-tab">

            <md-tabs md-dynamic-height="true" md-selected="tabIndex" md-no-pagination="true">

              <md-tab label="Data Diri">
                <md-content layout-padding>
                  <h4>Data Diri</h4>
                  <div layout="column" flex>
                    <div>

                      <md-input-container class="md-block">
                        <label>Nama</label>
                        <textarea name="nama" id="" ng-model="vm.isiLayakHuni.nama" rows="1" required></textarea>
                        <div ng-messages="formLayakHuni.nama.$error">
                          <div ng-message="required">Harus diisi.</div>
                        </div>
                      </md-input-container>

                      <div layout="row" flex>
                        <md-input-container flex="60">
                          <label>Jenis Kelamin</label>
                          <md-select ng-model="vm.isiLayakHuni.jenisKelamin" name="jk" required>
                            <md-optgroup label="Jenis Kelamin">
                              <md-option ng-value="jk.jk" ng-repeat="jk in vm.jenisKelamin">{{jk.jk}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.jk.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex="40">
                          <label>Usia (dalam tahun)</label>
                          <input type="number" name="usia" id="" ng-model="vm.isiLayakHuni.usia" required min="15" max="110"></input>
                          <div ng-messages="formLayakHuni.usia.$error">
                            <div ng-message="required">Harus diisi</div>
                            <div ng-message="min">Terlalu muda</div>
                            <div ng-message="max">Terlalu tua</div>
                          </div>
                        </md-input-container>
                      </div>

                      <div layout="row" flex>
                        <md-input-container flex="90">
                          <label>Pekerjaan</label>
                          <md-select ng-model="vm.isiLayakHuni.pekerjaan" name="pekerjaan" required>
                            <md-optgroup label="Pekerjaan">
                              <md-option ng-value="kerja.kerja" ng-repeat="kerja in vm.pekerjaan">{{kerja.kerja}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.pekerjaan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Tempat Tinggal</label>
                      <div layout="row" flex>
                        <md-input-container flex="50">
                          <label>Kecamatan</label>
                          <!-- clear property desa if kecamatan changed -->
                          <md-select ng-model="vm.isiLayakHuni.kecamatan" name="kecamatan" required ng-change="vm.removeDesa()">
                            <md-optgroup label="Kecamatan">
                              <md-option ng-value="kecamatan" ng-repeat="kecamatan in vm.kecamatanDesa">{{kecamatan.Nama_Kecamatan}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kecamatan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex="50">
                          <label>Desa</label>
                          <md-select ng-model="vm.isiLayakHuni.desa" name="desa" required ng-disabled="!vm.isiLayakHuni.kecamatan">
                            <md-optgroup label="Kecamatan {{vm.isiLayakHuni.kecamatan.Nama_Kecamatan}}">
                              <md-option ng-value="desa" ng-repeat="desa in vm.isiLayakHuni.kecamatan.desa">{{desa.NAMA}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.desa.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                    </div>
                  </div>
                </md-content>
              </md-tab>

              <md-tab label="Bagian 1">
                <md-content layout-padding>
                  <h4>Bagian 1</h4>
                  <div layout="column" flex>
                    <div>

                      <label>Keamanan Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Rasa aman warga kota</label>
                          <md-select ng-model="vm.isiLayakHuni.aman" name="aman" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.aman.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kenyamanan warga berjalan/ berkendara di malam hari</label>
                          <md-select ng-model="vm.isiLayakHuni.nyaman" name="nyaman" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.nyaman.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Keamanan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan pelayanan keamanan dari kepolisian</label>
                          <md-select ng-model="vm.isiLayakHuni.mudahPolisi" name="mudahPolisi" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.mudahPolisi.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas pelayanan keamanan dari kepolisian</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasPolisi" name="kualitasPolisi" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasPolisi.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Politik Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kestabilan kota dari kejadian unjuk rasa</label>
                          <md-select ng-model="vm.isiLayakHuni.unjukRasa" name="unjukRasa" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.unjukRasa.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kebebasan menyampaikan hak dan pendapat politik</label>
                          <md-select ng-model="vm.isiLayakHuni.bebasPendapat" name="bebasPendapat" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.bebasPendapat.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Mitigasi Bencana</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Rasa aman warga kota terhadap bencana</label>
                          <md-select ng-model="vm.isiLayakHuni.amanBencana" name="amanBencana" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.amanBencana.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kecepatan peringatan dini bencana</label>
                          <md-select ng-model="vm.isiLayakHuni.peringatanDini" name="peringatanDini" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.peringatanDini.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Kesehatan Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kesehatan lingkungan tempat tinggal</label>
                          <md-select ng-model="vm.isiLayakHuni.sehatLingkungan" name="sehatLingkungan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.sehatLingkungan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Rasa aman warga dari penyakit menular</label>
                          <md-select ng-model="vm.isiLayakHuni.penyakitMenular" name="penyakitMenular" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.penyakitMenular.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Kesehatan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan pelayanan kesehatan</label>
                          <md-select ng-model="vm.isiLayakHuni.layananKesehatan" name="layananKesehatan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.layananKesehatan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas layanan kesehatan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasLayananKesehatan" name="kualitasLayananKesehatan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasLayananKesehatan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Kebersihan Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas kebersihan udara</label>
                          <md-select ng-model="vm.isiLayakHuni.kebersihanUdara" name="kebersihanUdara" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kebersihanUdara.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas kebersihan sungai</label>
                          <md-select ng-model="vm.isiLayakHuni.kebersihanSungai" name="kebersihanSungai" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kebersihanSungai.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas kebersihan jalan kota</label>
                          <md-select ng-model="vm.isiLayakHuni.kebersihanJalan" name="kebersihanJalan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kebersihanJalan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Persampahan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas layanan persampahan</label>
                          <md-select ng-model="vm.isiLayakHuni.layananSampah" name="layananSampah" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.layananSampah.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Perekonomian Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan pekerjaan</label>
                          <md-select ng-model="vm.isiLayakHuni.mudahKerja" name="mudahKerja" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.mudahKerja.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan mengembangkan usaha</label>
                          <md-select ng-model="vm.isiLayakHuni.pengembanganUsaha" name="pengembanganUsaha" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.pengembanganUsaha.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Keterjangkauan biaya hidup</label>
                          <md-select ng-model="vm.isiLayakHuni.biayaHidup" name="biayaHidup" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.biayaHidup.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Ekonomi</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas pasar tradisional</label>
                          <md-select ng-model="vm.isiLayakHuni.pasarTradisional" name="pasarTradisional" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.pasarTradisional.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                    </div>
                  </div>
                </md-content>
              </md-tab>

              <md-tab label="Bagian 2">
                <md-content layout-padding>
                  <h4>Bagian 2</h4>
                  <div layout="column" flex>
                    <div>

                      <label>Sektor Informal Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas penataan PKL</label>
                          <md-select ng-model="vm.isiLayakHuni.penataanPKL" name="penataanPKL" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.penataanPKL.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Ketidakbergantungan warga terhadap ojek</label>
                          <md-select ng-model="vm.isiLayakHuni.ojek" name="ojek" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.ojek.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Ketercukupan Pangan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapat sembako</label>
                          <md-select ng-model="vm.isiLayakHuni.mudahSembako" name="mudahSembako" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.mudahSembako.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Nutrisi makanan yang dikonsumsi warga kota</label>
                          <md-select ng-model="vm.isiLayakHuni.nutrisi" name="nutrisi" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.nutrisi.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Informasi Pembangunan dan Partisipasi Masyarakat</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapat informasi pembangunan</label>
                          <md-select ng-model="vm.isiLayakHuni.informasiPembangunan" name="informasiPembangunan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.informasiPembangunan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Keterlibatan warga dalam pembangunan</label>
                          <md-select ng-model="vm.isiLayakHuni.terlibatPembangunan" name="terlibatPembangunan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.terlibatPembangunan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Perumahan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan memiliki rumah</label>
                          <md-select ng-model="vm.isiLayakHuni.memilikiRumah" name="memilikiRumah" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.memilikiRumah.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas fisik bangunan rumah</label>
                          <md-select ng-model="vm.isiLayakHuni.fisikRumah" name="fisikRumah" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.fisikRumah.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Pendidikan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan pelayanan pendidikan</label>
                          <md-select ng-model="vm.isiLayakHuni.pelayananPendidikan" name="pelayananPendidikan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.pelayananPendidikan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas pelayanan pendidikan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasPendidikan" name="kualitasPendidikan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasPendidikan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Administrasi Pemerintahan dan Pelayanan Publik</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan pelayanan administrasi pemerintahan</label>
                          <md-select ng-model="vm.isiLayakHuni.pelayananAdministrasi" name="pelayananAdministrasi" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.pelayananAdministrasi.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas pelayanan administrasi pemerintahan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasAdministrasi" name="kualitasAdministrasi" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasAdministrasi.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Taman Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan menggunakan taman kota</label>
                          <md-select ng-model="vm.isiLayakHuni.kemudahanTamanKota" name="kemudahanTamanKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kemudahanTamanKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas taman kota</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasTamanKota" name="kualitasTamanKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasTamanKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan kelompok difabel menggunakan taman kota</label>
                          <md-select ng-model="vm.isiLayakHuni.difabelTamanKota" name="difabelTamanKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.difabelTamanKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Olahraga</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan menggunakan fasilitas olahraga</label>
                          <md-select ng-model="vm.isiLayakHuni.kemudahanOlahraga" name="kemudahanOlahraga" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kemudahanOlahraga.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Kesenian dan Budaya</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan menggunakan fasilitas kesenian dan budaya</label>
                          <md-select ng-model="vm.isiLayakHuni.kemudahanKesenianBudaya" name="kemudahanKesenianBudaya" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kemudahanKesenianBudaya.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas fasilitas kesenian dan budaya</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasKesenianBudaya" name="kualitasKesenianBudaya" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasKesenianBudaya.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Frekuensi warga kota menikmati festifal budaya</label>
                          <md-select ng-model="vm.isiLayakHuni.frekuensiFestifalBudaya" name="frekuensiFestifalBudaya" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.frekuensiFestifalBudaya.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Wisata</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan menggunakan fasilitas wisata</label>
                          <md-select ng-model="vm.isiLayakHuni.kemudahanWisata" name="kemudahanWisata" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kemudahanWisata.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas fasilitas wisata</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasWisata" name="kualitasWisata" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasWisata.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                    </div>
                  </div>
                </md-content>
              </md-tab>

              <md-tab label="Bagian 3">
                <md-content layout-padding>
                  <h4>Bagian 3</h4>
                  <div layout="column" flex>
                    <div>

                      <label>Akses Terhadap Rekreasi dan Hiburan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Ketersediaan fasilitas hiburan</label>
                          <md-select ng-model="vm.isiLayakHuni.fasilitasHiburan" name="fasilitasHiburan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.fasilitasHiburan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas dan variasi hiburan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasHiburan" name="kualitasHiburan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasHiburan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Fasilitas Pejalan Kaki</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas jalur pejalan kaki dan sepeda</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasJalurPejalanKaki" name="kualitasJalurPejalanKaki" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasJalurPejalanKaki.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan kelompok difabel menggunakan jalur pejalan kaki</label>
                          <md-select ng-model="vm.isiLayakHuni.difabelPejalanKaki" name="difabelPejalanKaki" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.difabelPejalanKaki.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Transportasi</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kondisi lalu lintas (kemacetan)</label>
                          <md-select ng-model="vm.isiLayakHuni.kemacetan" name="kemacetan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kemacetan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Rasa aman terhadap resiko kecelakaan lalu lintas</label>
                          <md-select ng-model="vm.isiLayakHuni.resikoKecelakaanLantas" name="resikoKecelakaanLantas" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.resikoKecelakaanLantas.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas fisik jalan kota</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasJalanKota" name="kualitasJalanKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasJalanKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kualitas pelayanan angkutan umum</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasAngkutanUmum" name="kualitasAngkutanUmum" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasAngkutanUmum.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan mendapatkan informasi jam dan rute angkutan umum</label>
                          <md-select ng-model="vm.isiLayakHuni.infoAngkutanUmum" name="infoAngkutanUmum" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.infoAngkutanUmum.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan mencapai lokasi tujuan</label>
                          <md-select ng-model="vm.isiLayakHuni.mencapaiTujuan" name="mencapaiTujuan" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.mencapaiTujuan.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Pengelolaan Air Bersih</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kemudahan mendapatkan air bersih</label>
                          <md-select ng-model="vm.isiLayakHuni.airBersih" name="airBersih" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.airBersih.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Pengelolaan Air Kotor dan Drainase</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas jaringan drainase</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasDrainase" name="kualitasDrainase" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasDrainase.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Jaringan Telekomunikasi</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas sinyal telepon seluler</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasSinyal" name="kualitasSinyal" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasSinyal.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kemudahan mendapatkan jaringan internet seluler</label>
                          <md-select ng-model="vm.isiLayakHuni.internetSeluler" name="internetSeluler" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.internetSeluler.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Kelistrikan</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas pelayanan kelistrikan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasListrik" name="kualitasListrik" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasListrik.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Penataan Kota</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Kualitas penataan kota secara keseluruhan</label>
                          <md-select ng-model="vm.isiLayakHuni.kualitasTataKota" name="kualitasTataKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.kualitasTataKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>

                        <md-input-container flex>
                          <label>Kenyamanan suhu kota</label>
                          <md-select ng-model="vm.isiLayakHuni.suhuKota" name="suhuKota" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.suhuKota.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Toleransi</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Toleransi dalam masyarakat</label>
                          <md-select ng-model="vm.isiLayakHuni.toleransiMasyarakat" name="toleransiMasyarakat" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.toleransiMasyarakat.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                      <label>Transparansi</label>
                      <div layout="column" flex-gt-sm="70" flex="100">
                        <md-input-container flex>
                          <label>Transparansi pemerintahan</label>
                          <md-select ng-model="vm.isiLayakHuni.transparansiPemerintah" name="transparansiPemerintah" required>
                            <md-optgroup label="Rating">
                              <md-option ng-value="rating.nilai" ng-repeat="rating in vm.rating">{{rating.nama}}</md-option>
                            </md-optgroup>
                          </md-select>
                          <div ng-messages="formLayakHuni.transparansiPemerintah.$error">
                            <div ng-message="required">Harus diisi.</div>
                          </div>
                        </md-input-container>
                      </div>

                    </div>
                  </div>
                </md-content>
              </md-tab>

            </md-tabs>
          </div>

        </form>

        <div>
          <span style="color: red;" ng-show="formLayakHuni.$invalid && tabIndex === 3">Masih ada bagian form yang belum selesai anda isi</span>
        </div>

        <md-button ng-click="vm.back()" class="md-warn md-raised" ng-hide="tabIndex === 0">
          <i class="glyphicon glyphicon-chevron-left"></i> Sebelumnya
        </md-button>
        <md-button ng-click="vm.next()" class="md-warn md-raised" ng-hide="tabIndex === 3">
          Selanjutnya <i class="glyphicon glyphicon-chevron-right"></i>
        </md-button>

        <md-button type="submit" class="md-primary md-raised" aria-label="submit" ng-disabled="formLayakHuni.$invalid" ng-show="tabIndex === 3">
          Kirim <i class="glyphicon glyphicon-ok"></i>
        </md-button>

      </div>

    </div>
  </div>
</div>
